body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.section {
    background-color: rgb(153, 153, 153);
    border: 1px solid rgb(153, 153, 153);
    margin-bottom: 20px;
    padding: 15px;
    height: 700px;
    overflow: auto;
}

.navbar-brand {
    padding: 10px;
  

}


.navbar-toggle {
    margin-top: 8px;
    
}

@media (max-width: 767px) {
    .navbar-collapse {
        background-color: #f8f8f8;
        text-align: center;
    }

    .navbar-nav {
        margin: 0;
        
    }

    .navbar-nav li {
        border-bottom: 1px solid rgb(153, 153, 153);
    }
}